/***********************************
*** declare global CSS variables ***
***********************************/

:root {
    --measure-half: 0.625rem;
    
    --measure-1: 1rem;
    --measure-2: 1.6rem;
    --measure-3: 2.56rem;
    --measure-4: 4.096rem;
    --measure-5: 6.5536rem;
    
    --color-bg: white;
    --color-text: black;

    --color-main-1: #C14991;
    --color-main-2: #319177;
    --color-header: #3EB489;
    --color-shadow: #481935;

    --color-main-p: #CB67A3;
}

/**************************
*** some global styling ***
**************************/

html {
    min-height: 100%;
    width: 100%;

    overflow: scroll;
}

body {
    min-height: 100%;
    width: 100%;

    overflow: scroll;

    background: linear-gradient(135deg, var(--color-main-1) 0 50%, var(--color-main-2) 50% 100%) no-repeat;
    margin: 0;

    font-family: 'Barlow Semi Condensed', sans-serif;
    color: var(--color-text);
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

/*************************************/

article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;


}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: var(--measure-4);
    padding-left: var(--measure-4);
}

#intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#welcome {
    flex: 0 1 30rem;
    margin: var(--measure-1);
    padding: var(--measure-half);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#welcome p {
    max-width: 35rem;
    background-color: var(--color-main-p);
    font-size: var(--measure-2);
    margin: 0;
    padding: var(--measure-half);
}


#links {
    flex: 0 1 40%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#intro::after {
    content: '';
    flex: 0 1 5%; 
}

#links > div {
    position: relative;
    margin: 0 var(--measure-1) var(--measure-1) var(--measure-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#links div div {
    overflow: hidden;
    position: relative;
    display: block;

    font-family: 'Lato', sans-serif;
    font-size: var(--measure-3);


    padding: var(--measure-half);

    box-shadow: var(--measure-half) var(--measure-half) var(--color-text);

    
}

#links :nth-child(odd) div {
    left: var(--measure-2);
}

#links :nth-child(even) div {
    left: calc(-1*var(--measure-2));
}


#links span::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -195%;
    height: 100%;
    width: 300%;
    transform: scale(1);
    transform-origin: top left;
    transition: transform .4s ease-out;
    background: linear-gradient(135deg, var(--color-main-1) 0 50%, var(--color-header) 50% 100%);
    overflow: hidden;
    z-index: -1;
}

#links span:hover::before {
    transform: translateX(60%);
}

/*****************
div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: right bottom;
    transition: transform .5s ease;
    background: linear-gradient(135deg, gray 0%, gray 70%, blue 70%, blue 85%, red 85%);
    z-index: -1;
  }

  div:hover::before {
    transform: scale(1.5);
  }


****************/

#welcome div {
    background-color: var(--color-main-p);
    box-shadow: var(--measure-half) var(--measure-half) var(--color-text);

    padding-bottom: var(--measure-1)
}

#welcome p {
    max-width: 35rem;
    font-size: var(--measure-2);
    padding: var(--measure-half);
    margin: 0;
}