{% extends 'base.html' %}

{% block content %}
<h1>WebDev/Coding Bibliography</h1>

<h2>Reference</h2>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web">MDN Web Docs</a> (Mozilla Developer Network)</li>
        <blockquote>Best documentation out there for HTML, CSS</blockquote>
        <li><a href="https://www.w3schools.com/">https://www.w3schools.com/</a></li>
    </ul>

<h2>Coding practice</h2>
    <ul>
        <li><a href="https://www.theodinproject.com/">The Odin Project</a></li>
        <li><a href="https://projecteuler.com">Project Euler</a></li>
        <li><a href="https://exercism.org">exercism</a></li>
    </ul>


<h2>HTML/CSS</h2>
<ul>
    <li><a href="http://codepen.io">Codepen.io</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook">MDN CSS Cookbook</a></li>
    <li>CSS Variants &amp; Preprocessors
        <ul>
            <li>Sass / SCSS</li>
        </ul>
        </li>
    <li>CSS Frameworks
        <ul>
            <li>Bootstrap</li>
            <li>Compass</li>
        </ul>
        </li>
    <li>Validators</li>
    <li>Autoprefixers</li>
</ul>

<h2>JavaScript</h2>
<ul>
    <li><cite>JavaScript: The Definitive Guide</cite> by David Flanagan
    <li><a href="https://fullstackopen.com/en/">Full Stack Open</a></li>
    <blockquote>Learn React, Redux, Node.js, MongoDB, GraphQL and TypeScript in one go! This course will introduce you to modern JavaScript-based web development. The main focus is on building single page applications with ReactJS that use REST APIs built with Node.js.</blockquote>
    <li>JavaScript modules        
        <ul>
            <li><a href="https://www.mathjax.org/">MathJax</a> &ndash; LaTeX rendered via Javascript</li>
            <blockquote>MathJax is highly modular on input and output. Use MathML, TeX, and ASCIImath as input and produce HTML+CSS, SVG, or MathML as output.</blockquote>
            <li><a href="https://threejs.org/">Three.js</a> &ndash; JavaScript 3D library</li>
            <li><a href="https://togetherjs.com/">Together.js</a> &ndash; JavaScript library for interactivity</li>
            <li><a href="https://revealjs.com/">Reveal.js</a> &ndash; converts docs/ppts to html presentations w a few transition elements</li>
            <li><a href="https://p5js.org/learn/">p5.js</a> &ndash; great animation library (related to Processing?)</li>
        </ul>
</ul>

<h2>Python</h2>

<h3>Django</h3>
    <ul>
        <li><a href="https://docs.djangoproject.com/en/4.0/howto/deployment/checklist/">Official Django 4.0 deployment checklist</a></li>
    </ul>

<h2>Design Assets</h2>

<h3>Web templates</h3>
    <ul>
        <li><a href="https://html5up.net/">HTML5 UP</a></li>
        
    </ul>

<h3>SVG icon fonts</h3>
    <ul> 
        <li><a href="http://icomoons.io">icomoons.io</a></li>
        <li><a href="http://fontastic.me">fontastic.me</a></li>
    </ul>

<h2>Computer Science</h2>
    <ul>
        <li><a href="teachyourselfcs.com">Teach Yourself Computer Science</a></li>
        <li>OSSU's CS curriculum</li>
        <li>MIT's math for computer science</li>
    </ul>

{% endblock content %}