{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Cameron Sweeney</title>
    <link href="{% static 'style2.css' %}" rel="stylesheet" type="text/css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
</head>

<body>
    
<h1>hello! i'm cameron.</h1>

<p>Hello and welcome to my website! My name is Cameron Sweeney, and I'm 


  

</p>

</body>
</html>