<hr>
    
<div class="LocationTitle">
    <h1>Power Plant</h1>
    
    <div class="RBY">
    <h2><a href="#">Red and Blue</a></h2>
</div>
    
    <p>The Power Plant is a small dungeon just below Route 10. In addition to random wild encounters while walking inside, the player can find <a href="#">Zapdos</a> hiding in the deepest corner and several <a href="#">Voltorb</a> and <a href="#">Electrode</a> disguised as Poké Balls.</p>
</div>   
    
<hr>
    
<div class="RBY_Random_Encounters">
    <h2>Random encounters</h2>
    
<table>
    <tr>
        <th>Icon</th>
        <th>Method</th>
        <th>Pokémon</th>
        <th>Level</th>
        <th>Rarity</th>
    </tr>
    
    <tr><td><img src="./red-blue/100.png"/></td><td>grass</td><td>Voltorb</td><td>21</td><td>20%</td></tr>
    <tr><td><img src="./red-blue/81.png"/></td><td>grass</td><td>Magnemite</td><td>21</td><td>20%</td></tr>
    <tr><td><img src="./red-blue/25.png"/></td><td>grass</td><td>Pikachu</td><td>20</td><td>15%</td></tr>
    <tr><td><img src="./red-blue/25.png"/></td><td>grass</td><td>Pikachu</td><td>24</td><td>10%</td></tr>
    <tr><td><img src="./red-blue/81.png"/></td><td>grass</td><td>Magnemite</td><td>23</td><td>10%</td></tr>
    <tr><td><img src="./red-blue/100.png"/></td><td>grass</td><td>Voltorb</td><td>23</td><td>10%</td></tr>
    <tr><td><img src="./red-blue/82.png"/></td><td>grass</td><td>Magneton</td><td>32</td><td>5%</td></tr>
    <tr><td><img src="./red-blue/82.png"/></td><td>grass</td><td>Magneton</td><td>35</td><td>5%</td></tr>
    <tr><td><img src="./red-blue/125.png"/></td><td>grass</td><td>Electabuzz</td><td>33</td><td>4%</td></tr>
    <tr><td><img src="./red-blue/125.png"/></td><td>grass</td><td>Electabuzz</td><td>36</td><td>1%</td></tr>
</table>
</div>

<hr>



<div class="RBY_FixedEncounters">
    
    <h2>Fixed encounters</h2>
    
    <!-- create standard wild Pokémon HTML that gives level & moveset-->
    <h3>Zapdos</h3>
    
    <img src="zapdos-ow.png" alt="Player has found Zapdos" />
    
    <p>Zapdos is located in the upper left corner of the map. You will have to go the long way through most of the Power Plant to make it there, but there is a one-way exit left of Zapdos. It will bring you to the side of the building outside, letting you skip any wild encounters on the way back. Zapdos appears at Lv. 50 with the moves <a class="MoveLink">ThunderShock</a> and <a class="MoveLink">Drill Peck</a>.</p>
    
    <h3>Voltorb, Electrode</h3>
    
    <img src="powerplant_rby.png" alt="Encountering a Voltorb in Pokémon Red." />
    
    <p>Voltorb will appear in random walking encounters, but there are also many Voltorb and Electrode disguised as items/Poké Balls in the overworld. There are six Voltorb and two Electrode (refer to the map for exact locations).</p>
</div>
    
    <img src="powerplant_rby_map.png" alt="Map of RBY's Power Plant" />
    
<hr>